.forgot-password-page {
  flex: 1;
  display: flex;
  height: 100vh;
}

.image-container {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.form-container {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

h2 {
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1rem;
  width: 100%;
}

.form-group label {
.forgot-btn {
  padding: 0.5rem 1rem;
  background-color: #408de4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.forgot-btn:hover {
  background-color: #2862a5;
}
  padding: 0.5rem 1rem;
  background-color: rgb(252, 124, 64);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}


.links {
  margin-top: 1rem;
}
